---
const { size = 'lg' } = Astro.props as { size: 'sm' | 'lg' };
---

<div class={`${size} number`}>
  <button
    type="button"
    class="number__btn minus-button"
    data-target="btn-input-number-minus">
    -
  </button>
  <input
    id="inputNumber"
    class="number__input"
    type="number"
    value="1"
    min="1"
    step="1"
  />
  <button
    type="button"
    class="number__btn plus-button"
    data-target="btn-input-number-plus">
    +
  </button>
</div>
<style lang="scss">
  .number {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    border: 1px solid transparent;
    width: fit-content;
    background: var(--secondary-ghost);
    &.sm {
      padding: 0.5rem 0.75rem;
      & > .number__input {
        width: 2rem;
      }
    }
    &.lg {
      padding: 1rem;
      & > .number__input {
        width: 3rem;
      }
    }
    &__input {
      -moz-appearance: textfield;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      color: var(--foreground-dark);
      text-align: center;
      font-size: 0.8125rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1px;
      text-transform: uppercase;
      border: none;
      background: none;
    }
    &__btn {
      color: var(--foreground-dark);
      text-align: center;
      font-size: 0.8125rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1px;
      text-transform: uppercase;
      border: none;
      background: none;
      opacity: 0.25;
      cursor: pointer;
      width: 1rem;
      height: 1.125rem;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        opacity: 1;
        color: var(--accent);
      }
    }
  }
</style>
<script>
  document
    .querySelectorAll('button[data-target="btn-input-number-minus"]')
    .forEach((button) => {
      button.addEventListener('click', () => {
        const input = button.nextElementSibling as HTMLInputElement;
        input.stepDown();
      });
    });
  document
    .querySelectorAll('button[data-target="btn-input-number-plus"]')
    .forEach((button) => {
      button.addEventListener('click', () => {
        const input = button.previousElementSibling as HTMLInputElement;
        input.stepUp();
      });
    });
</script>
