:root {
  --background-dark: #101010;
  --background-dark-19: #191919;
  --background-light: #fafafa;
  --foreground-light: #ffffff;
  --foreground-dark: #000000;
  --secondary-grey: #cfcfcf;
  --secondary-ghost: #f1f1f1;
  --accent: #d87d4a;
  --error: #cd2c2c;

  --font-family: "Manrope", sans-serif;
}
