<button id="back-button" class="back-button">Go Back</button>
<style lang="scss">
  .back-button {
    color: var(--foreground-dark);
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66;
    opacity: 0.5;
  }
</style>
<script>
  document.getElementById('back-button').addEventListener('click', () => {
    window.history.back();
  });
</script>
