---
import Layout from '../layouts/MainLayout.astro';
import Card from '../components/Card.astro';
import Button from '../components/common/Button.astro';
import Input from '../components/form/Input.astro';
import Radio from '../components/form/Radio.astro';
import Number from '../components/form/Number.astro';
---

<Layout title="Welcome to Astro.">
  <h1>Welcome to Astro</h1>
  <p>
    Astro is a new kind of static site builder that delivers lightning-fast
    performance with a modern developer experience.
  </p>
  <Button variant="bordered" endContent label="test" />
  <Input />
  <Radio />
  <Number id="1" />
  <Number />
</Layout>
