---
import Button from '@components/common/Button.astro';
---

<div class="modal-cart modal main-padding" data-modal="cart">
  <div class="modal__wrapper modal__wrapper--topright modal-cart__wrapper">
    <div class="modal-cart__top">
      <p class="modal-cart__info">
        cart (<span data-target="cart-total-quantity">0</span>)
      </p>
      <button
        data-action="delete-cart-data"
        class="modal-cart__remove-btn"
        type="button">
        Remove all
      </button>
    </div>
    <div class="modal-cart__products" data-cart="products"></div>
    <div class="modal-cart__total">
      <p class="modal-cart__total__text">total</p>
      <p class="modal-cart__total__value">
        $<span data-target="cart-total-value"></span>
      </p>
    </div>
    <div class="modal-cart__check">
      <Button size="lg" label="checkout" href="/cart/checkout" />
    </div>
  </div>
</div>
<style lang="scss">
  .modal-cart {
    padding-top: 6.5rem;
    padding-bottom: 4rem;
    &__wrapper {
      width: 100%;
      max-width: 23.5625rem;
      border-radius: 8px;
      background: var(--foreground-light);
      padding: 2rem;
    }
    &__top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
    }
    &__info {
      color: var(--foreground-dark);
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.0804rem;
      text-transform: uppercase;
    }
    &__remove-btn {
      color: var(--foreground-dark);
      font-size: 0.9375rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.66; /* 166.667% */
      text-decoration-line: underline;
      opacity: 0.5;
      &:hover {
        color: var(--accent);
        opacity: 1;
      }
    }
    &__products {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin-bottom: 2rem;
    }
    &__item {
      display: flex;
      align-items: center;
      gap: 1rem;
      &.ex {
        display: none;
      }
      &__img {
        flex: 0 0 auto;
        width: 4rem;
        height: 4rem;
        border-radius: 8px;
        overflow: hidden;
        background-color: var(--secondary-ghost);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }
      &__specs {
        flex: 1 1 100%;
        overflow: hidden;
      }
      &__title {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: var(--foreground-dark);
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.66; /* 166.667% */
        text-transform: uppercase;
      }
      &__price {
        color: var(--foreground-dark);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.78; /* 178.571% */
        opacity: 0.5;
      }
    }
    &__total {
      display: flex;
      width: 100%;
      align-items: cemter;
      justify-content: space-between;
      margin-bottom: 1.5rem;
      &__text {
        color: var(--foreground-dark);
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.66; /* 166.667% */
        opacity: 0.5;
        text-transform: uppercase;
      }
      &__value {
        color: var(--foreground-dark);
        text-align: center;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }
    }
  }
  @media screen and (min-width: 43.75rem) {
    .modal-cart {
      padding-top: 8.25rem;
      padding-bottom: 6rem;
    }
  }
  @media screen and (min-width: 75rem) {
    .modal-cart {
      padding-top: 8.5rem;
      padding-bottom: 6rem;
    }
  }
</style>
<script>
  import { updateModalContent } from '@/lib/cartUI';
  import { clearCartFromLocalStorage } from '@/lib/cartStorage';

  document
    .querySelector('button[data-action="delete-cart-data"]')
    .addEventListener('click', (event) => {
      event.preventDefault();
      clearCartFromLocalStorage();
      updateModalContent();
    });
</script>
