---
import Link from './common/Link.astro';
---

<section class="section about">
  <picture>
    <source
      srcset="../assets/shared/desktop/image-best-gear.jpg"
      media="(min-width: 1000px)"
    />
    <source
      srcset="../assets/shared/tablet/image-best-gear.jpg"
      media="(min-width: 700px)"
    />
    <img
      class="about__img"
      src="../assets/shared/mobile/image-best-gear.jpg"
      alt="a man with earphones"
    />
  </picture>
  <div class="about__info">
    <h3 class="about__title">Bringing you the <span>best</span> audio gear</h3>
    <p class="about__body">
      Located at the heart of New York City, Audiophile is the premier store for
      high end headphones, earphones, speakers, and audio accessories. We have a
      large showroom and luxury demonstration rooms available for you to browse
      and experience a wide range of our products. Stop by our store to meet
      some of the fantastic people who make Audiophile the best place to buy
      your portable audio equipment.
    </p>
  </div>
</section>
<style lang="scss">
  .about {
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 7.8125rem;
    row-gap: 2.5rem;
    &__img {
      width: 100%;
      border-radius: 8px;
      flex: 1 1 33.75rem;
    }
    &__info {
      flex: 1 1 27.8125rem;
      max-height: fit-content;
    }
    &__title {
      color: var(--foreground-dark);
      text-align: center;
      font-size: 1.75rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.0625rem;
      text-transform: uppercase;
      margin-bottom: 2rem;
      max-width: 35.8125rem;
      margin-inline: auto;
      & span {
        color: var(--accent);
      }
    }
    &__body {
      color: var(--foreground-dark);
      text-align: center;
      font-size: 0.9375rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.66; /* 166.667% */
      opacity: 0.5;
      max-width: 35.8125rem;
      margin-inline: auto;
    }
  }
  @media screen and (min-width: 43.75rem) {
    .about {
      row-gap: 4rem;
      &__title {
        font-size: 2.5rem;
        line-height: 1.1;
        letter-spacing: 0.0893rem;
      }
    }
  }
  @media screen and (min-width: 62.5rem) {
    .about {
      flex-direction: row-reverse;
      &__title {
        text-align: left;
      }
      &__body {
        text-align: left;
      }
    }
  }
</style>
