---
const { style = 'accent' } = Astro.props;
---

<button class=`button ${style}`>
  <slot />
</button>
<style lang="scss">
  .button {
    padding: 1rem 2rem;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .accent {
    background-color: var(--accent);
    border-color: var(--accent);
    color: var(--foreground-light);
    &:hover {
      opacity: 0.8;
    }
  }
  .dark {
    background-color: transparent;
    border-color: var(--background-dark);
    color: var(--foreground-dark);
    &:hover {
      background-color: var(--background-dark);
      color: var(--foreground-light);
    }
  }
</style>
