---
import Button from './common/Button.astro';
---

<section class="section show">
  <div class="zx9">
    <div class="zx9__img">
      <picture>
        <source
          srcset="/assets/home/desktop/image-speaker-zx9.png"
          media="(min-width: 62.5rem)"
        />
        <source
          srcset="/assets/home/tablet/image-speaker-zx9.png"
          media="(min-width: 43.75rem)"
        />
        <img
          class=""
          src="/assets/home/mobile/image-speaker-zx9.png"
          alt="a speaker image"
        />
      </picture>
    </div>
    <div class="zx9__info">
      <h3 class="zx9__title">ZX9 <br /> SPEAKER</h3>
      <p class="zx9__body">
        Upgrade to premium speakers that are phenomenally built to deliver truly
        remarkable sound.
      </p>
      <div class="zx9__btn">
        <Button variant="flat" label="See Product" />
      </div>
    </div>
  </div>
  <div class="zx7">
    <h3 class="zx7__title">ZX7 SPEAKER</h3>
    <div class="zx7__btn">
      <Button variant="bordered" label="See Product" />
    </div>
  </div>
  <div class="yx1">
    <div class="yx1__box yx1__box--1"></div>
    <div class="yx1__box">
      <h3 class="zx7__title">ZX7 SPEAKER</h3>
      <div class="zx7__btn">
        <Button variant="bordered" label="See Product" />
      </div>
    </div>
  </div>
</section>
<style lang="scss">
  .show {
    background-color: transparent;
    display: flex;
    gap: 1.5rem;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .zx9 {
    width: 100%;
    border-radius: 8px;
    background-color: var(--accent);
    padding-block: 3.4375rem;
    padding-inline: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    overflow: hidden;
    &__img {
      width: 10.9375rem;
      position: relative;
      max-width: 25.625rem;
      & img {
        width: 100%;
        position: relative;
        z-index: 5;
      }
      &::before {
        z-index: 1;
        position: absolute;
        content: '';
        background-image: url('/assets/home/desktop/pattern-circles.svg');
        background-repeat: no-repeat;
        background-size: 100% auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
        width: 350%;
        height: 350%;
      }
    }
    &__info {
      max-width: 21.875rem;
    }
    &__title {
      color: var(--foreground-light);
      text-align: center;
      font-size: 2.25rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.11;
      letter-spacing: 0.0804rem;
      text-transform: uppercase;
      position: relative;
      z-index: 5;
      margin-bottom: 1.5rem;
    }
    &__body {
      color: var(--foreground-light);
      text-align: center;
      font-size: 0.9375rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.66;
      opacity: 0.75;
      position: relative;
      z-index: 5;
      margin-bottom: 1.5rem;
    }
    &__btn {
      position: relative;
      z-index: 5;
      width: fit-content;
      margin-inline: auto;
    }
  }
  .zx7 {
    width: 100%;
    border-radius: 8px;
    padding-block: 6.3125rem;
    padding-inline: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    overflow: hidden;
    background-image: url('/assets/home/mobile/image-speaker-zx7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__title {
      color: var(--foreground-dark);
      text-align: center;
      font-size: 1.75rem;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
      position: relative;
      line-height: normal;
      letter-spacing: 0.125rem;
      z-index: 5;
    }
    &__btn {
      position: relative;
      z-index: 5;
    }
  }
  .yx1 {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5rem;
    column-gap: 0.625rem;
    width: 100%;
    align-items: stretch;
    justify-content: stretch;
    &__box {
      flex: 1 1 18.75rem;
      border-radius: 0.5rem;
      padding-block: 2.625rem;
      padding-inline: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 2rem;
      overflow: hidden;
      background-color: var(--secondary-ghost);
      min-height: 12.5rem;
      &--1 {
        background-image: url('/assets/home/mobile/image-earphones-yx1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
    &__title {
      color: var(--foreground-dark);
      text-align: center;
      font-size: 1.75rem;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
      position: relative;
      line-height: normal;
      letter-spacing: 0.125rem;
      z-index: 5;
    }
    &__btn {
      position: relative;
      z-index: 5;
    }
  }
  @media screen and (min-width: 43.75rem) {
    .show {
      gap: 2rem;
    }
    .zx9 {
      padding-block: 3.25rem 4rem;
      gap: 4rem;
      &__img {
        width: 12.375rem;
        &::before {
          width: 480%;
          height: 480%;
        }
      }
      &__title {
        font-size: 3.5rem;
        line-height: 1.03;
        letter-spacing: 0.125rem;
      }
      &__body {
        margin-bottom: 2.5rem;
      }
    }
    .zx7 {
      background-image: url('/assets/home/tablet/image-speaker-zx7.jpg');
      padding-inline: 3.9063rem;
    }
    .yx1 {
      column-gap: 1.875rem;
      &__box {
        padding: 6.3125rem 2.5625rem;
        &--1 {
          background-image: url('/assets/home/desktop/image-earphones-yx1.jpg');
        }
      }
    }
  }
  @media screen and (min-width: 62.5rem) {
    .show {
      gap: 3rem;
    }
    .zx7 {
      padding-inline: 5.9375rem;
      background-image: url('/assets/home/desktop/image-speaker-zx7.jpg');
    }
  }
  @media screen and (min-width: 75rem) {
    .zx9 {
      flex-direction: row;
      padding-block: 0;
      padding-inline: 7.3125rem 5.9375rem;
      align-items: stretch;
      justify-content: center;
      column-gap: 8.75rem;
      &__img {
        flex: 1 1 25.625rem;
        align-self: flex-end;
        position: relative;
        right: 0;
        bottom: -0.9375rem;
        height: 100%;
        max-width: 500px;
        &::before {
          width: 240%;
          height: 240%;
          top: 70%;
        }
      }
      &__info {
        flex: 1 1 350px;
        margin-block: 8.3125rem 7.75rem;
      }
      &__title,
      &__body {
        text-align: left;
      }
      &__body,
      &__btn {
        margin-left: 0;
      }
    }
    .yx1 {
      column-gap: 1.875rem;
      &__box {
        padding: 6.3125rem 5.9375rem;
        &--1 {
          background-image: url('/assets/home/desktop/image-earphones-yx1.jpg');
        }
      }
    }
  }
</style>
